* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  a {
    text-decoration: underline;
    color: gray;
  }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}