.site-title {
    color: $black;
    text-decoration: none;
}

.site-header {
    padding: 1rem 5%;
    background-color: lighten(gold, 15);
}

.fuzzy-search {
    column-span: all;
    display: block;
    width: 100%;
    border: 0;
    font-size: 1.5rem;
    padding: 1.5rem 5%;
    border-bottom: 1px solid $lightgray;
    margin-bottom: 1.5rem;
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $black;
    }
}

.post-nav {
    padding: 0 5%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid $lightgray;
    a {
        margin-right: 1em;
        text-decoration: none;
        color: gray;
        font-size: 1.5rem;
        &.active {
            color: $black;
        }
    }
}


.post-list {
    list-style: none;
    margin-bottom: 2rem;
    .list {
        list-style: none;
    }
}

.post-list-post {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .9rem 5%;
    border-bottom: 1px solid $lightgray;
    justify-content: flex-start;
    align-items: stretch;
    @include bp(m){
      flex-wrap: nowrap;
    }
    h2 {
        font-weight: normal
    }
    li {
        list-style: none;
        margin-bottom: .1em;
    }
}

.post-list-date, .post-list-unit, .post-list-teacher {
  flex-basis: 25%;
  flex-grow: 2;
  font-size: .95rem;
}


.post-list-link {
    color: $black;
    flex-basis: 80%;
    flex-grow: 1;
    padding-top: .5rem;
    @include bp(m){
      padding: 0;
    }
    text-decoration: none;
    font-size: 1.3rem;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.post {
    margin-bottom: 2rem;
}

.post-link {
    color: $black;
}

.post-jumplink {
    color: $lightgray !important;
    padding-left: .5rem;
    display: inline-block;
    text-decoration: none;
}

.post-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    @include bp(m) {
        font-size: 1.1rem;
        flex-direction: row;
        justify-content: flex-start;
    }
    padding: 2rem 5%;
    padding-top: 10vh;
    a {
        color: darken(cornflowerblue, 10);
        text-decoration: none;
        &:hover, &:focus {
            color: darken(cornflowerblue, 1);
        }
    }
}

.post-title {
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 50rem;
    @include bp(m){
        font-size: 1.6rem;
    }
}

.post-abstract {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    max-width: 40em;
    line-height: 1.4;
    @include bp(m){
        font-size: 1.6rem;
    }
}

.post-meta {
    display: block;
    flex-basis: 20%;
    margin-bottom: 2rem;
    @include bp(m) {
        padding-right: 1rem;
        max-width: 20rem;
    }
    li {
        display: block;
        padding: .5rem 0;
    }
    span {
        display: block;
        margin-bottom: .2rem;
        font-size: 1rem;
    }
}

.post-unit {
    color: rgba($black, .6);
}

.post-content {
    max-width: 45rem;
    line-height: 1.5;
    .hasimage {
        font-size: 1rem;
        line-height: 1.35;
        img {
            margin-bottom: .2rem;
        }
    }    
    p,
    ol,
    ul {
        margin-bottom: .5rem;
    }
    h2,
    h3 {
        font-weight: normal
    }
    ul,
    ol {
        margin-left: 1rem;
    }
    hr {
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: .25rem;
        margin-top: 1rem;
    }
    h3 {
        margin-bottom: .5rem;
    }
    table {
        font-size: 1rem;
        margin-bottom: 1rem;
        @include bp(m){
            width: 120%;
        }
    }
    thead {
        text-align: left;
        border-bottom: 1px solid $black;
    }
    td {
        border-bottom: 1px solid $black;
        padding: .2rem;
    }
}

img,
iframe, video {
    display: block;
    max-width: 100%;
}

.site-footer {
    padding: 2rem 5%;
    font-size: .8rem;
    color: gray;
    p {
        margin-bottom: .5rem;
    }
    a {
        color: gray;
        text-decoration: underline;
    }
}

blockquote {
    padding-left: 1rem;
    display: block;
    color: gray;
}