.post-list {
    list-style: none;
    margin-bottom: 2rem;
    .list {
        list-style: none;
    }
}

.post-list-post {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
    font-family: "Suisse Int'l";
    color: $black;
}

.post-thumb {
    flex-basis: 20%;
    margin-right: 1rem;
    display: inline-block;
}

.post-list-meta {
    display: block;
    width: 20%;
    flex-shrink: 0;
    margin-right: 1rem;
    li {
        list-style: none;
    }
}

.post-list-link {
    text-decoration: none;
    font-size: 3rem;
    display: block;
    flex-basis: 70%;
    margin: 0 auto;
    line-height: 1.1;
    color: $black;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}