.post-list {
    list-style: none;
    margin-bottom: 2rem;
    .list {
        list-style: none;
    }
}

.post-list-post {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: $black;
    span {
        margin-right: 1rem;
    }
}

.post-thumb {
    flex-basis: 20%;
    margin-right: 1rem;
    display: inline-block;
}

.post-list-meta {
    display: block;
    margin-right: 1rem;
    li {
        list-style: none;
    }
}

.post-list-date {
    flex-basis: 12%;
    flex-shrink: 0;
}
.post-list-link {
    text-decoration: none;
    display: block;
    line-height: 1.1;
    color: $black;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.post-list-teacher{
    flex-basis: 20%;
    li {
        list-style: none;
    }
}
.post-list-unit {
    flex-basis: 18%;
}