.site-title {
    color: $black;
    text-decoration: none;
}

.site-header {
    padding: 1rem;
}
.fuzzy-search {
    display: block;
    width: 100%;
    max-width: 35em;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 0;
    margin-bottom: 1.5rem;
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: $black;
    }
}

.site-footer {
    padding: 2rem 5%;
    font-size: .8rem;
    color: gray;
    p {
        margin-bottom: .5rem;
    }
    a {
        color: gray;
        text-decoration: underline;
    }
}