@mixin bp($point) {
    @if $point == l {
      @media (min-width: 65rem) { @content; }
    }
    @else if $point == m {
      @media (min-width: 45rem) { @content; }
    }
    @else if $point == s {
      @media (min-width: 35rem)  { @content; }
    }
  }

  
$lightgray: rgb(235,235,235);
$black: rgb(50,50,50);
$green: rgb(100,240,130)